*{
    margin:0;
    padding: 0;
}
h1 {
    color:navy;
}
.green{
    color:green;
}
#siteHeader{
    color:yellow;
}

[src]{
    color: magenta;
}
p:hover{
    color:rgb(138, 165, 42);
}
a:visited {
    color:purple;
}
a:hover{
    color: green;
}
a:focus{
    color: black;
}
div.cartoon{
    background-color: aliceblue;
}
ul li{
    color: gold;
}
.fun, .cartoon{
    color: pink;
}
p{
    font-family:Helvetica}